@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

body,
html {
    background: url(../img/5df3a2203122d.png) no-repeat;
    background-size: 100%;

    color: #383838;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

#title {
    margin-top: 10%;
}
#dropdown{
    margin-left: 97px;
}
#survey-form {
    color: #ebebd3;
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    border: 2px solid black;
    background-color: #2e4057;
}

label {
    text-align: center;
    clear: both;
    float: left;
    margin-right: 40px;
}

textarea {
    text-align: center;
}

#submit {
    margin-left: 125px;
    /* margin: 0 auto; */
    text-align: center;
    padding: 15px 40px;
    border-radius: 14px;
    background: #D5A021;
    margin-top: 10px;
}

.input-first {
    margin-left: 100px;
}

.input-second {
    margin-left: 103px;
}

.input-third {
    width: 157px;
    margin-left: 39px;
}